.gp-navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:5px 20px;
    border-bottom:1px solid var(--border);
    z-index:999;
}

.gp-navbar-left{
    display:flex;
    align-items:center;
   
}

.gp-logo{
    display:flex;
    align-items:center;
    gap:2px;
    color:var(--text);
    text-decoration:none;
    font-size:24px;
    font-weight:700;
}

.gp-logo-icon{
    width:40px;
    height:40px;
    border-radius:14px;
}

.gp-navbar-center{
    width:520px;
}

.gp-search{
    height:40px;
    display:flex;
    align-items:center;
    gap:12px;
    padding:0 18px;
    border-radius:999px;
    background:var(--input-bg);
    border:1px solid transparent;
    transition:.25s;
}

.gp-search:hover{
    border-color:var(--border);
}
.gp-search:focus-within{
    border-color:#ff2d99dd;
}
.gp-search-input::placeholder{
    color: var(--placeholder);
}
.gp-search input{
    flex:1;
    background:none;
    border:none;
    outline:none;
    color:var(--text);
    font-size:15px;
}

.gp-search svg{
    color:#9098b1;
}

.gp-navbar-right{
    display:flex;
    align-items:center;
    gap:15px;
}

.gp-nav-btn{
    width:40px;
    height:40px;
    border:none;
    border-radius:8px;
    background: none;
    color:var(--nav-btn-color);

    cursor:pointer;
    transition:.25s;
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
}

.gp-nav-btn:hover,.gp-nav-btn.active{
    background:var(--nav-btn-bg-hover);
}


.gp-badge{
    position:absolute;
    right:3px;
    top:3px;
    min-width:18px;
    height:18px;
    border-radius:20px;
    background:#ff2d55;
    color:white;
    font-size:11px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:700;

}



/*DROPDOWN SETTING */
.gp-dropdown-wrapper{
    position:relative;
}
.gp-dropdown{
    position:absolute;
    top:calc(100% + 12px);
    right:0;
    width:280px;
    background:var(--bg);
    border:1px solid var(--border);
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 18px 50px rgba(0,0,0,.18);
    backdrop-filter:blur(14px);
    animation:dropdown .18s ease;
    z-index:1000;
}

@keyframes dropdown{
    from{
        opacity:0;
        transform:translateY(8px) scale(.98);
    }
    to{
        opacity:1;
        transform:translateY(0) scale(1);
    }
}

.gp-dropdown-item{
    padding:16px;
}

.gp-dropdown-item:not(:last-child){
    border-bottom:1px solid var(--border);
}

.gp-dropdown-header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:12px;
}

.gp-dropdown-title{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:14px;
    font-weight:600;
}

.gp-dropdown-row{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:none;
    border:none;
    cursor:pointer;
    padding:0;
    color:inherit;
}

.gp-dropdown-value{
    display:flex;
    align-items:center;
    gap:8px;
    color:var(--secondary-text);
    font-size:13px;
}

.gp-dropdown-row:hover .gp-dropdown-value{
    color:var(--primary);
}

.gp-theme-switch{
    position:relative;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    padding:4px;
    border-radius:999px;
    border:1px solid var(--border);
}

.gp-theme-btn{
    height:40px;
    border:none;
    background:transparent;
    border-radius:999px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    transition:.25s;
}

.gp-theme-btn:hover{
    color:var(--text);
}

.gp-theme-btn.active{
    background:var(--primary);
    color:#fff;
    box-shadow:0 5px 18px rgba(0,0,0,.15);
}

/*LANGUAGE DROPDOWN*/
.gp-lang-wrapper{
    margin-top:4px;
}

.gp-lang-dropdown{
    margin-top:10px;
    display:flex;
    flex-direction:column;
    gap:4px;
}

.gp-lang-dropdown button{
    display:flex;
    align-items:center;
    gap:10px;
    width:100%;
    padding:10px 12px;
    background:none;
    border:none;
    border-radius:10px;
    cursor:pointer;
    color:var(--text);
    font-size:14px;
    transition:.2s;
}

.gp-lang-dropdown button:hover{
    background:var(--main-btn-bg-hover);
}

.gp-lang-dropdown button.active{
    color:var(--primary);
    font-weight:600;
}

.rotate{
    transform:rotate(90deg);
    transition:.25s;
}



@media(max-width:1100px){
    .gp-navbar-center{
        width:380px;
    }

}

@media(max-width:800px){
    .gp-navbar{
        padding:5px 15px;

    }
    .gp-navbar-center{
        display:none;
    }
    .gp-mobile-menu{
        display:flex;
        align-items:center;
        justify-content:center;
    }
}

@media(max-width:500px){
    .gp-logo span{
        display:none;
    }

}