:root {
  --text: #111827;
  --secondary-text: #8b95a7;
  --bg: #f8fafc;
  --border: #e5e7eb;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme:light ;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    
   /*Navbar*/
  --navbar-bg: #ffffff;
  --nav-btn-bg: #f3f4f6;
  --nav-btn-bg-hover: #e5e7eb;
  --nav-btn-color: #374151;
  --placeholder: #8b95a7;
    
  /*Sidebar*/
  --sidebar-bg: #ffffff;
  --sidebar-btn-bg: #f3f4f6;  
  --sidebar-btn-bg-hover: #e5e7eb;
  --sidebar-btn-color: #374151;

  --sidebar-item-bg-hover: #f3f4f6;
  --sidebar-item-active-bg:#e5e7eb;

  /* Main btn */
  --main-btn-bg:  #eef2f7;
  --main-btn-bg-hover: rgb(155 152 156 / 0.78);
  --main-btn-text-color: #1f2937;
  --main-btn-text-hover: #111827;
  --main-btn-border-color: rgb(155 152 156);

       /*Input*/
      --input-bg: #f3f4f6;
      --input-hover: #e5e7eb;
      --input-focus: #ffffff;
      
    --primary: #2563eb;
    --primary-hover: #1d4ed8;
    --secondary: #64748b;
    --secondary-hover: #475569;

 /*Error*/
  --error-text: #b54e46;
  --error-text-bg: rgb(227 168 163 / 0.65);
  --error-text-border: #c88d89;

/*Success*/
  --success-text: #286328;
  --success-text-bg: rgb(181 246 181 / 0.49);
  --success-text-border: #5cb85c;


 /*Warning*/
  --warning-text: #ffc600;
  --warning-text-bg: #ffc600;
  --warning-text-border: #ffc600;


}


  :root[data-theme="dark"]{
    --text: #f3f4f6;
    --secondary-text: #8b95a7;
    --bg: #0b0e14;
    --border: #252c3a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
     
    
      /*Navbar*/
      --navbar-bg: #10131d;
      --nav-btn-bg: #181c28;
      --nav-btn-bg-hover: #252c3e;
      --nav-btn-color: #f3f4f6;


      /*Input*/
      --input-bg: #181c28;
      --input-hover: #202636;
      --input-focus: #252c3e;
      
        /*Sidebar*/
      --sidebar-bg: #10131d;
      --sidebar-btn-bg: #181c28;
      --sidebar-btn-bg-hover: #252c3e;
      --sidebar-btn-color: #f3f4f6;

      --sidebar-item-bg-hover:#181c28 ;
      --sidebar-item-active-bg:#252c3e ;

    /*Main btn*/
    --main-btn-bg: #181c28;;
    --main-btn-bg-hover: #252c3e;
    --main-btn-text-color: #f3f4f6;
    --main-btn-text-hover: #8b95a7;
    --main-btn-border-color: #374151;


    --primary: #3b82f6;
    --primary-hover: #60a5fa;
    --secondary: #94a3b8;
    --secondary-hover: #cbd5e1;
    /*Error*/
    --error-text: #85130a;
    --error-text-bg: rgb(227 168 163 / 0.68);
    --error-text-border: #c88d89;





      color-scheme: dark;
  
    }

  


*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}




